/* Style Sheet for JackFriedberg.com */

/* GENERAL SETTINGS */
*:focus {
    outline: none;
}
/* END GENERAL SETTINGS */



/* BACKGROUND SETTINGS */
/*Home Page background settings */
body.Home{
  background:url(background6.jpg) repeat-y;
}
body.Page { /* Other Page background settings */
  background:url(background6.jpg) repeat-y;
}
/* END BACKGROUND SETTINGS */



/* NAV BAR SETTINGS */
@media only screen and (min-width: 700px){
  li.left {
    float: left;
  }
  li.right {
    float: right;
  }
  ul {
    list-style-type: none;
    margin-bottom: : 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
}
@media only screen and (max-width: 699.999px){
li {
  float: none;
}
ul {
  list-style-type: none;
  margin: 0px;
  clear:both;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-family:"Times New Roman";
}
li a:hover {
  text-decoration: none;
  background-color:#8B8C8C;
  color:white;
}
.nav-active {
  text-decoration: none;
  background-color:rgba(136, 136, 136, .5);
  color:white;
  font-family: "Times New Roman"
}
/* END NAV BAR SETTINGS */



/* HOME PAGE SETTINGS */
@media only screen and (min-width: 1200px){
  .Menu-Title-Posistion{
    margin: 0;
    white-space: nowrap;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
  }
  #Name-On-Top{
    display: none;
  }
  .menu-title{
    font-size: 70px;
  }
  .menu-sub{
    font-size: 35px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1199.999px){
  .Menu-Title-Posistion{
    margin: 0;
    white-space: nowrap;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
  }
  #Name-On-Top{
    display: none;
  }
  .menu-title{
    font-size: calc(35px + 2.8vw);
  }
  .menu-sub{
    font-size: calc(17.5px + 1.4vw);
  }
}
@media only screen and (max-width: 699.999px){
  .Menu-Title-Posistion{
    margin: 0;
    text-align: center;
    top:0;
  }
  #Name-On-Bottom{
    display: none;
  }
  .menu-title{
    font-size: 35px;
  }
  .menu-sub{
    font-size: 17.5px;
  }
}
.menu-title{
  font-family: "Courier New";
  font-weight: lighter;
  padding: 0;
  margin: 0;
  color: white;
}
.menu-sub{
  font-family: "Courier New";
  padding: 0;
  margin: 0;
  color: white;
}
/* END HOME PAGE SETTINGS */



/* ABOUT ME SETTINGS */
@media only screen and (max-width: 700px){
  img.headshot{
    max-width: 25%;
    display: block;
    margin: auto;
    padding:7.5px;
  }
  .about-me-text{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 15px;
    color: white;
  }
}
@media only screen and (min-width: 699.999px){
  img.headshot{
    float: left;
    max-width: 17%;
    margin:0;
    padding-right: 7.5px;
  }
  .about-me-text{
    margin-left: 7.5px;
    margin-top: 0;
    padding: 10px 15px;
    clear: both;
    text-align: justify;
    color: white;
  }
}
/* END ABOUT ME SETTINGS */



/* Recent Work Settings */
.Projects{
    padding: 10px 15px;
    margin-top: 7.5px;
    float: left;
    border: 5px white solid;
    width: 99%;
}
.All-Projects{
  width: 99%;
  display: inline-block;
}
.Project-Header{
  color: white;
}
/* END recent work settings */



/* RESUME SETTINGS */
@media only screen and (min-width: 700px){
  #Resume-Long{
    display: block;
  }
  #Resume-Short{
    display: none;
  }
}
@media only screen and (max-width: 699.999px){
  #Resume-Long{
    display: none;
  }
  #Resume-Short{
    display: block;
  }
}

/* Universal Settings */
.Resume-Page-Title{
  text-align: center;
  color: white;
}
.Resume-Page-subTitle{
  text-align: center;
  color: white;
}
.Resume-Section{
  border-top: 5px white solid;
}
button.Line-Header.active, button.Line-Header:hover {
  background-color: rgba(255, 255, 255, .3);
}
div.panel {
  padding: 2px 18px;
  background-color: rgba(255, 255, 255, .3);
  display: none;
}
div.panel.show {
  display: block;
}
span.Right{
  float: right;
}
/* End Universal Settings */

/*Begin Font Scaling */
@media only screen and (min-width: 1200px ){
  .Resume-Page-Title{
    font-size: 45px;
  }
  .Resume-Page-subTitle{
    font-size: 36px;
  }
  .Section-Title{
    font-size: 33px;
  }
  .Line-Header {
    font-size: 20px;
  }
  button.Line-Header:before {
    font-size: 18px;
  }
  .Line-Header-Inactive {
    font-size: 20px;
  }
  .Line-subHeader{
    font-size: 19px;
  }
  .Line-subHeader-Inactive{
    font-size: 19px;
  }
  p.Line-subHeader:before {
    font-size: 18px;
  }
  .Resume-Details{
    font-size: 19px;
  }
  .Course-Subject{
    font-size: 20px;
  }
}
@media only screen and (min-width: 700px ) and (max-width: 1199.999px){
  .Resume-Page-Title{
    font-size: calc(32px + 1vw);
  }
  .Resume-Page-subTitle{
    font-size: calc(26px + .8vw);
  }
  .Section-Title{
    font-size: calc(20px + 1vw);
  }
  .Line-Header {
    font-size: calc(10px + .9vw);
  }
  button.Line-Header:before {
    font-size: calc(7px + .9vw);
  }
  .Line-Header-Inactive {
    font-size: calc(10px + .9vw);
  }
  .Line-subHeader{
    font-size: calc(9px + .8vw);
  }
  .Line-subHeader-Inactive{
    font-size: calc(9px + .8vw);
  }
  p.Line-subHeader:before {
    font-size: calc(7px + .9vw);
  }
  .Resume-Details{
    font-size: calc(10px + .8vw);
  }
  .Course-Subject{
    font-size: calc(10px + .9vw);
  }
}
@media only screen and (max-width: 699.999px){
  .Resume-Page-Title{
    font-size: 32px;
  }
  .Resume-Page-subTitle{
    font-size: 28px;
  }
  .Section-Title{
    font-size: 26px;
  }
  .Line-Header {
    font-size: 20px;
  }
  button.Line-Header:before {
    font-size: 15px;
  }
  .Line-Header-Inactive {
    font-size: 20px;
  }
  .Line-subHeader{
    font-size: 18px;
  }
  .Line-subHeader-Inactive{
    font-size: 18px;
  }
  p.Line-subHeader:before {
    font-size: 15px;
  }
  .Resume-Details{
    font-size: 14px;
  }
  .Course-Subject{
    font-size: 14px;
  }
}
/* End Font Scaling */

/* Begin Viewport Specific Formatting */
@media only screen and (min-width: 700px){
  .Section-Title{
    text-align: center;
    color: white;
  }
  .Line-Header {
    background:none;
    color: white;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 3px;
    cursor: pointer
  }
  button.Line-Header:before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    color: white;
    float:left;
    margin-right: 5px;
  }
  button.Line-Header.active:before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  .Line-Header-Inactive {
    background:none;
    color: white;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  .Line-subHeader{
    padding: 0px;
    margin: 0;
  }
  .Line-subHeader-Inactive{
    padding: 0px;
    margin: 0;
  }
  p.Line-subHeader:before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    color: white;
    float:left;
    margin-right: 5px;
    visibility: hidden;
  }
  p.Line-subHeader.active:before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    visibility: hidden;
  }
  .Resume-Details{
    color: white;
  }
  .Course-Subject{
    color: white;
    border-bottom: white 1px solid;
  }
}
@media only screen and (max-width: 699.999px){
  .Section-Title{
    text-align: center;
    color: white;
  }
  .Line-Header {
    background:none;
    color: white;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 3px;
    cursor: pointer;
    text-align: center;
  }
  button.Line-Header:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    color: white;
    float:none;
    margin-right: 5px;
  }
  button.Line-Header.active:after{
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  .Line-Header-Inactive {
    background:none;
    color: white;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 3px;
    text-align: center;
  }
  .Line-subHeader{
    padding: 0px;
    margin: 0;
    text-align: center;
  }
  .Line-subHeader-Inactive{
    padding: 0px;
    margin: 0;
    text-align: center;
  }
  .Resume-Details{
    color: white;
    text-align: left;
  }
  .Course-Subject{
    color: white;
    border-bottom: white 1px solid;
    text-align: center;
  }
}
/* End Viewport Specific Formatting */
/* END RESUME SETTINGS */
